<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div>
  <table class="table table-hover mt-5">
    <tr>
      <th>이름</th>
      <td th:text="${member.memberName}"></td>
    </tr>
    <tr>
      <th>이메일</th>
      <td th:text="${member.memberEmail}"></td>
    </tr>
    <tr>
      <th>비밀번호</th>
      <td th:text="${member.memberPassword}"></td>
    </tr>
    <tr>
      <th>전화번호</th>
      <td th:text="${member.memberPhone}"></td>
    </tr>
    <tr>
      <th>나이</th>
      <td th:text="${member.memberAge}"></td>
    </tr>
  </table>
</div>
</body>
</html>