<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5" >
  <table class="table table-hover">
    <tr>
      <th>이름</th>
      <th>이메일</th>
      <th>비밀번호</th>
      <th>나이</th>
      <th>전화번호</th>
      <th>조회</th>
      <th>삭제</th>
    </tr>
    <tr th:each="member:${memberList}">
      <td th:text="${member.memberName}"></td>
      <td th:text="${member.memberEmail}"></td>
      <td th:text="${member.memberPassword}"></td>
      <td th:text="${member.memberAge}"></td>
      <td th:text="${member.memberPhone}"></td>
      <td><a th:href="@{|/member/${member.Id}|}">조회</a></td>
      <td><a th:href="@{|/member/delete/${member.Id}|}">삭제</a></td>
    </tr>
  </table>
</div>
</body>
</html>